header {
    background: rgb(0, 0, 0);
}

     h1{ 
         display: inline;
     }
 #logo {
        width:320px ;
   }
    
nav  {
     display: inline-block;
} 

  nav li {
    display: inline;
    marging
   }
   
   nav a  {   
        text-transform: uppercase;
        color:#ffffff;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
     }