header {
    background: rgba(17, 5, 5, 0.959);
}
    #logo {
         width:320px ;
    }
     h1{ 
         display: inline;
     }
    
nav  {
     display: block;
} 

  nav li {
    display: inline;
   }