header {
    background: rgb(0, 0, 0);
}   

.caixa {
     position: relative;
     width: 940px;
     margin: 0 auto;
}
     h1{ 
         display: inline;
     }
 #logo {
        width:320px ;
   }
    
nav  {
     display: inline-block;
     position: absolute; 
     right: 30px;
     top: 82px;
} 

  nav li {
    display: inline;
    margin-left: 10px;
   }
   
   nav a  {   
        text-transform: uppercase;
        color:#ffffff;
        font-weight: bold;
        font-size: 17px;
        text-decoration: none;
     }

.produtos li {
     display:  inline-block;
}

.item{
     width: 350px;
}