'

p {
    text-align: center;
    background: #CCCCCC; br
}

h1 {
     color:alicelblue white;
}

<body> 
 
p { 
    text-align: center;
    color: white;
}

#lema { 
    font-size: 25px;
    color: rgba(0, 0, 0, 0.089);
}

.beneficios {
   background-color: rgba(25, 30, 34, 0.192);
} 

h2{
     text-align: center;
}
   ul{
    display:inline-block;
    vertical-align:top ;
    width:20% 
    margin-right: 15%


#imagemb { 
    
     width:50%