p {
    text-align: center;
    background: #CCCCCC;
}

h1 {
    color:aliceblue white;
}

p { 
    text-align: center;
    color: white;
}

#lema { 
    font-size: 25px;
    color: black;
}

.beneficios {
   background-color: rgb(25, 30, 34);
} 

h2{
     text-align: center;
}