'

p {
    text-align: center;
    background: #CCCCCC; br
}

h1 {
    color:aliceblue white;
}

<body> 
 
p { 
    text-align: center;
    color: white;
}

#lema { 
    font-size: 25px;
    color: black;
}

.beneficios {
   background-color: rgb(25, 30, 34);
} 

h2{
     text-align: center;
}
   ul{
    display:inline-block;
    vertical-align:top ;
    width:20% 
    margin-right: 15%


#imagemb { 
    
     width:50%